<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ABOUT US</title>
    <link rel="stylesheet" type="text/css" href="../assets/css/aboutUs.css">
</head>
<body>
    <header>
        <ul>
            <li><a href="home.html">HOME</a></li>
            <li><a href="aboutUs.html">ABOUT US</a></li>
            <li><a href="adoptMe.html">ADOPT ME</a></li>
            <li style="float:right"><a href="#CONTACT">CONTACT</a></li>
          </ul>  
    
    </header>





    <!-- cover image -->
    <div class="cover_image">
        </div>


 <!-- about us-->
 <div id="information">
        <div class="text_aboutUs">
            <h2 style="font-size:20px">Helooooooooooooooooooooooooooooooooooooooo </h2>
            <p>If you’ve never adopted a dog before,
                you may be wondering, how does the process work? How long does it take?
                How much does it cost? The information below will help give you an overview of how it works to adopt a
                dog
                Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                Lorem Ipsum.The information below will help give you an overview of how it works to adopt a dog
                Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                If you’ve never adopted a dog before,
                you may be wondering, how does the process work? How long does it take?
                How much does it cost? The information below will help give you an overview of how it works to adopt a
                dog
                Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                Lorem Ipsum.The information below will help give you an overview of how it works to adopt a dog
                Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
                If you’ve never adopted a dog before,
                you may be wondering, how does the process work? How long does it take?
                How much does it cost? The information below will help give you an overview of how it works to adopt a
                dog
                Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                Lorem Ipsum.The information below will help give you an overview of how it works to adopt a dog
                Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
                If you’ve never adopted a dog before,
                you may be wondering, how does the process work? How long does it take?
                How much does it cost? The information below will help give you an overview of how it works to adopt a
                dog
                Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                Lorem Ipsum.The information below will help give you an overview of how it works to adopt a dog
                Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, </p>


    </div>
    </div>













    
   <script src ="../assets/js/aboutUs.js"></script> 
</body>
</html>