<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="../assets/css/home.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">


    <style>

    </style>
</head>

<body>

    <section>
        <header>
            <!-- nav bar -->
            <ul>
                <li><a href="home.html">HOME</a></li>
                <li><a href="aboutUs.html">ABOUT US</a></li>
                <!-- <li><a onclick='showAdoptMe()'>ADOPT ME</a></li> -->
                <li style="float:right"><a href="#CONTACT">CONTACT</a></li>
            </ul>

            <!-- cover image -->
            <div class="cover_image">

                <div class="text_cover">
                    <h1 style="font-size:50px">Create a safe future for homeless dogs</h1>
                    <h3>Not only people need a house </h3>
                    <button><a href="aboutUs.html">About us</a></button>
                </div>
            </div>
        </header>
    </section>





    <!-- about us-->
    <div class="aboutUs">

        <div class="text_aboutUs">
            <h2 style="font-size:20px"> How to adopt a dog </h2>
            <p>If you’ve never adopted a dog before,
                you may be wondering, how does the process work? How long does it take?
                How much does it cost? The information below will help give you an overview of how it works to adopt a
                dog
                Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                Lorem Ipsum.The information below will help give you an overview of how it works to adopt a dog
                Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, </p>

        </div>
    </div>
    <!-- Table of dogs -->

    <div class="container">

        <button class="btn btn-primary mt-2 mb-2" onclick='showTheListOfDogs()'>Find a Dog to Adopt: Search
            here!</button>

        <table class="table table-image">
            <thead class="thead-dark">
                <tr class="text-center">
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <!-- Table body with the list of products -->
            <tbody id="productList">
            </tbody>
        </table>
    </div>












    <footer>
        <p>Footer</p>
    </footer>
    <script src="https://code.jquery.com/jquery-3.6.0.js"
        integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
    <script src="../assets/js/home.js"></script>
</body>

</html>