body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;

}
/* nav bar */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  li {
    float: left;
  }

  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 20px 16px;
    text-decoration: none;
  }
  li a:hover:not(.active) {
    background-color: #111;
  }

  li a:hover:not(.active) {
    background-color: #111;
  }

  dl, ol, ul {
    margin-top: 0;
    margin-bottom: 0rem}
  
 /*cover image + Button + texte */
.cover_image {
    background-image: url("../image/dog6.jpg");
    height: 60vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .text_cover {
    text-align: center;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;

  }

  .text_cover button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 10px 25px;
    color: black;
    background-color: #ddd;
    text-align: center;
    cursor: pointer;
  }
  .text_cover button:hover {
    background-color: #555;
    color: white;
  }


  /*section about us */

  .aboutUs {
    background-color: antiquewhite;
    height: 35%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .text_aboutUs{
    text-align: center;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    color:gray;
    margin: 500px 0px 0px 0px;

  }

  /*section adopt */
  .dogs{
    background-color: antiquewhite;
  }
  .adopt {
    background-color: rgb(105,105,105);
    box-shadow: 0 4px 8px 0 rgb(105,105,105);
    max-width: 300px;
    margin: auto;
    text-align: center;
    font-family: arial;
  }
  
  
  .adopt button {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color:rgb(105,105,105);
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
  }
  
  .card button:hover {
    opacity: 0.7;
  }



  .btn-primary {
    color: #f8f9fa;
    background-color: #343a40;
    border-color: #343a40c2 }
   




